@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontMain);
    > header {
        padding: 0.5rem 0 0.5rem 2rem;
        color: var(--colorTextSecondary);
        background-color: var(--colorPrimary);
    }
}

nav {
    background-color: var(--colorSecondary);
    border-top: thin solid var(--colorTextSecondary);
    li {
        display: block;
        margin: 0 1rem;
        padding: 0.25rem 1rem;
        border-bottom: thin solid var(--colorTextSecondary);
        text-align: center;
        &:last-of-type {
            border-bottom: none;
        }
        @media (min-width: 520px) {
            display: inline-block;
            margin: 0;
            border-bottom: none;
            text-align: left;
        }
    }
}

main {
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    line-height: 1.4rem;
    > article > * {
        padding: 0.5rem;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
    text-align: center;
}

article {
    display: none;
}

form {
    &#frmLabels {
        input:focus {
            outline: none;
            border-color: var(--colorPrimary); 
            box-shadow: 0 0 0.5rem var(--colorPrimary);
        }
        label:not(.checkbox) {
            display: inline-block;
            width: 4rem;
        }
    }
    fieldset {
        padding: 1rem;
        border-radius: 0.5rem;
        legend {
            padding: 0 0.5rem;
        }
        p:last-of-type {
            margin-bottom: 0.5rem;
        }
    }
}
button {
    margin: 0.5rem 0 0 2rem;
    padding: 0.25rem 1rem;
    font-size: 1.1rem;
    border: thin solid var(--colorSecondary);
    border-radius: 0.5rem;
}

a {
    color: var(--colorTextTertiary);
    text-decoration: none;
}

hr {
    margin: 1rem 0;
    border-top: thick solid var(--colorPrimary);
    padding: 0 !important;
}

/* Specific elements */

#extra a {
    color: var(--colorNeutral);
}
#output {
    margin: 0 0.5rem;
    border: thin solid var(--colorPrimary);
    border-radius: 0.5rem;
}

#tabindex form label {
    display: inline-block;
    width: 9rem;
}
form#company {

    > fieldset {
        display: flex;
        flex-flow: row wrap;
    }
    > fieldset div {
        flex: 1 0 100%;
    }
    div:nth-of-type(2) {
        order: -1;
    }
}

#text {
    div {    
        border: thin solid var(--colorNeutral);
        border-radius: 0.5rem;
    }
    #fixed {
        font-size: 16px;
    }
    #flexible {
        font-size: clamp(0.8rem, 2vw, 1.3rem);
    }
}

article#aria section {
    > div {
        display: flex;
        flex-flow: row wrap;
    }
    div {
        margin: 0.5rem;
        padding: 0.5rem;    
        border: thin solid var(--colorNeutral);
        border-radius: 0.5rem;
        font-family: var(--fontArtistic);
        font-size: 2rem;
    }
}

article#video > section {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    iframe {
        width: 100%;
        @media (min-width: 600px) {
            width: var(--iFrameWidth);
        }
    }
}

/* Classes */

.visible { display: block; }
.hidden { display: none; }
.active { 
    font-weight: bold;
    text-decoration: underline;
}
.detached {
    margin-bottom: 1rem;
}