@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

:root {
    --colorTextSecondary: floralwhite;
    --colorTextTertiary: white;

    --colorPrimary: #20408A;
    --colorSecondary: #47474b;

    --colorNeutral: black;

    --fontMain: 'Raleway', Arial, Helvetica, sans-serif;
    --fontArtistic: Consolas, monospace;

    --iFrameWidth: 560px;
}

* {
    margin: 0;
    padding: 0;    
}

body {
    font-family: var(--fontMain);
}

body > header {
    padding: 0.5rem 0 0.5rem 2rem;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
}

nav {
    background-color: var(--colorSecondary);
    border-top: thin solid var(--colorTextSecondary)
}
nav li {
    display: block;
    margin: 0 1rem;
    padding: 0.25rem 1rem;
    border-bottom: thin solid var(--colorTextSecondary);
    text-align: center;
}
nav li:last-of-type {
    border-bottom: none;
}
@media (min-width: 520px) {
    nav li {    
        display: inline-block;
        margin: 0;
        border-bottom: none;
        text-align: left;
    }
}

main {
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    line-height: 1.4rem;
}
main > article > * {
    padding: 0.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
    text-align: center;
}

article {
    display: none;
}

form#frmLabels {
    input:focus {
        outline: none;
        border-color: var(--colorPrimary); 
        box-shadow: 0 0 0.5rem var(--colorPrimary);
    }
    label:not(.checkbox) {
        display: inline-block;
        width: 4rem;
    }
}
form fieldset {
    padding: 1rem;
    border-radius: 0.5rem;
    legend {
        padding: 0 0.5rem;
    }
    p:last-of-type {
        margin-bottom: 0.5rem;
    }
}
button {
    margin: 0.5rem 0 0 2rem;
    padding: 0.25rem 1rem;
    font-size: 1.1rem;
    border: thin solid var(--colorSecondary);
    border-radius: 0.5rem;
}

a {
    color: var(--colorTextTertiary);
    text-decoration: none;
}

hr {
    margin: 1rem 0;
    border-top: thick solid var(--colorPrimary);
    padding: 0 !important;
}

/* Specific elements */

#extra a {
    color: var(--colorNeutral);
}
#output {
    margin: 0 0.5rem;
    border: thin solid var(--colorPrimary);
    border-radius: 0.5rem;
}

#tabindex form label {
    display: inline-block;
    width: 9rem;
}
form#company > fieldset {
    display: flex;
    flex-flow: row wrap;
}
form#company > fieldset div {
    flex: 1 0 100%;
}
form#company div:nth-of-type(2) {
    order: -1;
}

#text div {    
    border: thin solid var(--colorNeutral);
    border-radius: 0.5rem;
}
#text #fixed {
    font-size: 16px;
}
#text #flexible {
    font-size: clamp(0.8rem, 2vw, 1.3rem);
}

article#aria section > div {
    display: flex;
    flex-flow: row wrap;
}
article#aria section div {
    margin: 0.5rem;
    padding: 0.5rem;    
    border: thin solid var(--colorNeutral);
    border-radius: 0.5rem;
    font-family: var(--fontArtistic);
    font-size: 2rem;
}

article#video > section {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
article#video > section iframe {
    width: 100%;
}
@media (min-width: 600px) {
    article#video > section iframe {
        width: var(--iFrameWidth);
    }
}

/* Classes */

.visible { display: block; }
.hidden { display: none; }
.active { 
    font-weight: bold;
    text-decoration: underline;
}